<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <berrypath_productfeed>
            <general>
                <enabled>1</enabled>
                <market_code/>
                <locale_code/>
            </general>
            <feed>
                <type>generic</type>
                <product_identifier>entity_id</product_identifier>
                <include_not_visible>0</include_not_visible>
                <extra_attributes/>
            </feed>
            <google>
                <condition>new</condition>
                <include_shipping>0</include_shipping>
                <shipping_country/>
                <shipping_service>Standard</shipping_service>
                <shipping_price/>
            </google>
        </berrypath_productfeed>
    </default>
</config>
